ProyectoMineria/Datos[[:space:]]combinados/*.csv filter=lfs diff=lfs merge=lfs -text
ProyectoMineria/Datos[[:space:]]limpios/**/*.csv filter=lfs diff=lfs merge=lfs -text
ProyectoMineria/Red[[:space:]]vial/*.graphml filter=lfs diff=lfs merge=lfs -text
